body {
  overflow-x: hidden;
  background: url("../media/about-wallpaper.jpeg") -25%;
  background-size: cover;
}
nav.navbar {
  background: linear-gradient(180deg, rgb(65,88,208), #0986ce);
}
footer {
  background: rgb(65,88,208);
}